body,h1,h2,h3,p,ul,ol,li,div{
    margin:0;
    padding:0:
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

p {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ol {
    list-style-type: decimal;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
     margin-bottom: 20px;
    margin-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

mark {
    background-color: #ffff99;
}

div {
    margin: 20px 0;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    cursor:pointer;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
}

input[type="submit"]:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position:fixed;
    bottom: 0;
    width:100%;
}
