/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h1, h2, h3 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.5;
}

ol, ul {
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

mark {
    background-color: yellow;
}

div {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

input[type="radio"][value="Masculin"]:checked + p {
    color: blue;
}

input[type="radio"][value="Feminin"]:checked + p {
    color: red;
}

